spring:
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://eztoplay-db.cgwawgmzdmkv.ap-northeast-2.rds.amazonaws.com:3306/eztoplay?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: admin
    password: 1taevi5309*
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  sql:
    init:
      data-locations: classpath*:db/h2/data.sql
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    s3:
      bucket: eztoplay-aws-bucket
    region:
      static: ap-northeast-2
    stack:
      auto: false
jwt:
  key: jwt025123412341234123412341234123412341234123412341234
  access-token-expiration-minutes: 400
  refresh-token-expiration-minutes: 420
mail:
  address:
    admin: gustn5309@naver.com
security:
  oauth2:
    client:
      registration:
        google:
          clientId: 630258186407-njojpj9hhi0eepqad4dnk48nv8qb1fm0.apps.googleusercontent.com
          clientSecret: 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
          scope:
            - email
            - profile
logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG




